In [60]:
import pandas as pd
import numpy as np
# import csv file
my_df = pd.read_csv('dog_data.csv')
my_df

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY     15236
1          GER SHEPHERD  BLACK/BROWN             TACODA     15238
2         BELG MALINOIS      BRINDLE               EICH     15238
3                 MIXED  BLACK/BROWN              ARROW     15104
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5      SCOTTISH TERRIER        BLACK             BAILEY     15129
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7         DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238
9    LABRADOR RETRIEVER       YELLOW              TAFFY     15228
10         BICHON FRISE        WHITE               DUDE     15238
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE     15238
12     AM PITT BULL MIX        BROWN               KING     15235
13     AM PITT BULL MIX        WHITE              EMILY     15108
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE     15228
15                MIXED        WHITE              RUSTY     15120
16          TERRIER MIX      SPOTTED                NaN     15239
17       COCKER SPANIEL       BLONDE             JUILET     15214
18       COCKER SPANIEL        BLACK              ROMEO     15214

In [46]:
# Count Distinct Values - Descending
my_df['Color'].value_counts()

BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: Color, Length: 72, dtype: int64

In [47]:
# Count Distinct Values - Ascending
my_df['Color'].value_counts(ascending=True)

BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: Color, Length: 72, dtype: int64

In [49]:
# Dog Names - without NaN
my_df['DogName'].value_counts()

CHARLEY              1
TACODA               1
JUILET               1
RUSTY                1
ELLIE                1
EMILY                1
KING                 1
CHICKIE              1
DUDE                 1
TAFFY                1
ZOE VITSAS           1
LEROI                1
MIMI PEARL FOSTER    1
BAILEY               1
OAKLEY               1
ARROW                1
EICH                 1
ROMEO                1
Name: DogName, dtype: int64

In [50]:
# Dog Names - with NaN
my_df['DogName'].value_counts(dropna=False)

CHARLEY              1
DUDE                 1
JUILET               1
NaN                  1
RUSTY                1
ELLIE                1
EMILY                1
KING                 1
CHICKIE              1
TAFFY                1
TACODA               1
ZOE VITSAS           1
LEROI                1
MIMI PEARL FOSTER    1
BAILEY               1
OAKLEY               1
ARROW                1
EICH                 1
ROMEO                1
Name: DogName, dtype: int64

In [54]:
# Get Relative Frequency - Percentage
my_df['Color'].value_counts(normalize=True)

BLACK                   0.139212
BROWN                   0.115947
WHITE                   0.084803
WHITE/BLACK             0.073546
BLACK/BROWN             0.068668
                          ...
BLACK/ORANGE/BRINDLE    0.000375
BROWN/ORANGE            0.000375
BROWN/FAWN              0.000375
BLACK/BROWN/GREY        0.000375
BROWN/LIVER             0.000375
Name: Color, Length: 72, dtype: float64

In [55]:
# Get specific Item count
my_df['Color'].value_counts()['WHITE']

226

In [56]:
# Count Unique Values - Size
my_df.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [57]:
# Count Unique Values - Count
my_df.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]

In [61]:
# get a count of all columns across all columns
my_df.apply(pd.value_counts)

                     Breed  Color  DogName  OwnerZip
15090                  NaN    NaN      NaN       1.0
15101                  NaN    NaN      NaN       1.0
15104                  NaN    NaN      NaN       1.0
15108                  NaN    NaN      NaN       1.0
15120                  NaN    NaN      NaN       1.0
15129                  NaN    NaN      NaN       1.0
15139                  NaN    NaN      NaN       1.0
15214                  NaN    NaN      NaN       2.0
15228                  NaN    NaN      NaN       2.0
15235                  NaN    NaN      NaN       1.0
15236                  NaN    NaN      NaN       1.0
15238                  NaN    NaN      NaN       5.0
15239                  NaN    NaN      NaN       1.0
AM PIT BULL TERRIER    1.0    NaN      NaN       NaN
AM PITT BULL MIX       2.0    NaN      NaN       NaN
ARROW                  NaN    NaN      1.0       NaN
BAILEY                 NaN    NaN      1.0       NaN
BELG MALINOIS          1.0    NaN      NaN       NaN
BICHON FRISE           1.0    NaN      NaN       NaN
BLACK                  NaN    2.0      NaN       NaN
BLACK/BROWN            NaN    2.0      NaN       NaN
BLACK/TAN              NaN    1.0      NaN       NaN
BLONDE                 NaN    1.0      NaN       NaN
BRINDLE                NaN    1.0      NaN       NaN
BRITTANY SPANIEL       1.0    NaN      NaN       NaN
BROWN                  NaN    2.0      NaN       NaN
CHARLEY                NaN    NaN      1.0       NaN
CHICKIE                NaN    NaN      1.0       NaN
COCKAPOO               1.0    NaN      NaN       NaN
COCKER SPANIEL         2.0    NaN      NaN       NaN
DACHSHUND MIX          1.0    NaN      NaN       NaN
DUDE                   NaN    NaN      1.0       NaN
EICH                   NaN    NaN      1.0       NaN
ELLIE                  NaN    NaN      1.0       NaN
EMILY                  NaN    NaN      1.0       NaN
GER SHEPHERD           1.0    NaN      NaN       NaN
JUILET                 NaN    NaN      1.0       NaN
KING                   NaN    NaN      1.0       NaN
LABRADOR RETRIEVER     1.0    NaN      NaN       NaN
LEROI                  NaN    NaN      1.0       NaN
LHASA APSO MIX         1.0    NaN      NaN       NaN
MIMI PEARL FOSTER      NaN    NaN      1.0       NaN
MIXED                  2.0    NaN      NaN       NaN
OAKLEY                 NaN    NaN      1.0       NaN
ROMEO                  NaN    NaN      1.0       NaN
RUSTY                  NaN    NaN      1.0       NaN
SCOTTISH TERRIER       1.0    NaN      NaN       NaN
SHETLAND SHEEPDOG      1.0    NaN      NaN       NaN
SPOTTED                NaN    1.0      NaN       NaN
TACODA                 NaN    NaN      1.0       NaN
TAFFY                  NaN    NaN      1.0       NaN
TERRIER MIX            1.0    NaN      NaN       NaN
WHITE                  NaN    3.0      NaN       NaN
WHITE/BROWN            NaN    5.0      NaN       NaN
YELLOW                 NaN    1.0      NaN       NaN
YORKSHIRE TERRIER      1.0    NaN      NaN       NaN
ZOE VITSAS             NaN    NaN      1.0       NaN